.DS_Store
.tscache
built

reports/
node_modules/
testresults/
stats/
dist/
docs/*
.vagrant/
coverage/
package-logs.json

*.tar.gz
*.tgz
*.swp
*.log
*.zat

checkstyle-result.xml
coverage.*
junit.xml
scanLogs

temp.txt

.idea/

# stryker temp files
.stryker-tmp
